<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" async="true" src="/js/nav.js"></script>
<script type="text/javascript" async="true" src="/js/edit.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">MBTI</a>
			<hr />
			<div id="login-logout-register"></div>
			<hr />
		</div>
	</nav>
	<div id="main-wrapper" class="content">
		<h1>글 수정하기</h1>
		<div id="content-wrapper" class="">
			<form name="boardForm" id="boardForm" method="post">
				<fieldset>
					<div class="form-group">
						<input type="text" class="form-control" name="title" id="title"
							placeholder="제목을 작성해주세요">
					</div>
					<div class="form-group">
						<textarea class="form-control" name="content" id="content"
							cols="100" rows="30" placeholder="내용을 작성해주세요"></textarea>
					</div>

				</fieldset>
				</br>
				<button onclick="clickEditBtn();" type="button"
					class="btn btn-primary">수정하기</button>

				<a class=" btn btn-outline-danger" type="button"
					href="javascript:goLastPage()">취소</a>

			</form>
		</div>
	</div>
</body>
</html>
