<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/board.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" async="" src="/js/nav.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">MBTI</a>
			<hr />
			<div id="login-logout-register"></div>
			<hr />
		</div>
	</nav>
	<div id="main-wrapper" class="content">
		<h1 id="result">LOGIN</h1>
		<div id="content-wrapper" class="">
			<form method="post" action="/login">
				<fieldset>
					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">
							UserName</label> <input type="text" class="form-control" id="id" name="id"
							aria-describedby="usernameHelp" placeholder="Enter Username"
							value="" />
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1" class="form-label mt-4">Password</label>
						<input type="password" id="password" name="password"
							class="form-control" placeholder="Password">
					</div>
					<a href="register.php" class="register-btn btn btn-primary">회원가입
						하기</a>
					<button type="submit" name="submit"
						class="register-btn btn btn-primary">로그인 하기</button>

				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>
